body {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0 85px;
}

/* header */

.header {
    width: 100%;
    height: 100vh;
}

.headerContainer {
    height: 95vh;
    background-image: url('./img/Bild_1.png');
    /* background-image: url('./img-old/bg.png'); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size:cover;
    /* outline: 30px solid white; */
    border-top: 30px solid white; 
    outline-offset: -30px;
}

.headerContainer img {
    outline: 30px solid white;
    outline-offset: -30px;
}

.headerLogoContainer {
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
 
.headerTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerLogo {
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 39px;
    background: transparent url('img/Gruppe_4.png') 0% 0% no-repeat padding-box;
    margin-top: 50px;
}

.headerTitleBig{
    width: 100%;
    text-align: justify;
}

.headerTitle {
    /* width: 300px; */
    height: 60px;  
}

.headerTitleBig p {
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;    
    color: #FFFFFF;
    font-weight: lighter;
    letter-spacing: 1.5px;
    line-height: 45px;
    margin: 40px 0 15px 0;
}

.headerTitleSmall {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitleSmall div{
    width: 30%;
    height: 1px;
    background: white;
}

.headerTitleSmall p{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}


.clickDownBtn {
    width: 55px;
    height: 55px; 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.arrowDownContainer  {
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}

.arrowDown {
    width: 35px;
    height: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;


}
.arrowDown i{
    font-size: 10px;
    /* width: 6px;
    height: 13px;
    letter-spacing: 0px; */
    color: #6B6B6B;
    z-index: 99; 
}

/* intro line  */

.intro {
    width: 100%;
    text-align: center;
}

.introContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
}

.introLine {
    /* width: 10px;
    height: 82px; */
    background-color: #888888;
    height: 75px;
    width: 0.125rem;
    align-self: center;
    margin: 10px;
    z-index: 9;
}
.introIconContainer{
    display: flex;
    align-self: center;

}
.introIcon {
    width: 7px;
    height: 7px;
    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
    background-color: #000000;
}

.introContainer p {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;    
    color: #000000;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 60px;
    margin: 35px;
}
/* the end of header */

/* introduction part container 1 */
.container-1{
    width: 100%;
    height: 110vh;
    display: flex;
}
/* 1210 */
.con1-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.con1-left img{
    width: 85%;
    /* width: 773px; */
}

.con1-left article{
    width: 60%;
    margin-left: 25%;
}

.con1-left article h2{
    font-size: 40px;
    font-family: 'Bellefair', serif;    
    font-weight: 300;
    margin: 10% 0 5% 0;
    text-transform: uppercase;
}

.con1-left article p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #6B6B6B;
    line-height: 25px;
    text-align: left;
    text-align: left;
}

.con1-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.con1-right article{
    width:80%;
    margin-bottom: 20%;
}

.con1-right img{
    width: 45%;
    justify-content:center;
}

.con1-right article p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #6B6B6B;
    line-height: 25px;
    text-align: left;
    margin:0;
}

/* the end of container one */

/* the begin of gallary slideshow */
.gallary {
    width: 100%;
    height: 90vh;
} 
/* slideshow */
.slideshow-container {
    width: 100%;
    height:80%;
    position: relative;
    margin: auto;
    z-index: -1;
}

.slideshow-container img{
    height: auto;
}
.dotContainer {
    margin-top: -2%;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 3px;
    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
    background-color: none;
    border: 0.1rem solid #FFFFFF;
    display: inline-block;
    transition: background-color 0.2s ease;
    z-index: 9999;
  }
  
  .active{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF; 
  }
